<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shinc.orm.mybatis.mappers.edu.BookMapper">
	<resultMap id="BaseResultMap" type="Book">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="sh_parter_id" property="shParterId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="num_reservation" property="numReservation" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, sh_parter_id, name, status, num_reservation
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sh_book
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from sh_book
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="Book">
		insert into sh_book (id, sh_parter_id, name,
		status, num_reservation)
		values (#{id,jdbcType=INTEGER}, #{shParterId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR}, #{numReservation,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="Book">
		insert into sh_book
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="shParterId != null">
				sh_parter_id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="numReservation != null">
				num_reservation,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="shParterId != null">
				#{shParterId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="numReservation != null">
				#{numReservation,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="Book">
		update sh_book
		<set>
			<if test="shParterId != null">
				sh_parter_id = #{shParterId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="numReservation != null">
				num_reservation = #{numReservation,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="Book">
		update sh_book
		set sh_parter_id = #{shParterId,jdbcType=INTEGER},
		name = #{name,jdbcType=VARCHAR},
		status = #{status,jdbcType=VARCHAR},
		num_reservation = #{numReservation,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>