<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shinc.orm.mybatis.mappers.edu.CourseGradeMapper">
	<resultMap id="BaseResultMap" type="CourseGrade">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="sh_course_id" property="courseId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="sh_material_version_id" property="materialVersionId" jdbcType="INTEGER" />
	</resultMap>
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		id, sh_course_id, name, type, sh_material_version_id
		from sh_course_grade
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="findAll" parameterType="CourseGrade" resultMap="BaseResultMap">
		select
		id, sh_course_id, name, type, sh_material_version_id
		from sh_course_grade
		where 1 = 1
		
		<!-- 加入查询条件 -->
	</select>
	<select id="getCourseGradeVideoBaseList" parameterType="CourseGradeHasVideoBase" resultType="java.util.HashMap">
		SELECT 
				past.id videoPastpaperId,
				base.question_id,
				base.id,
			    base.title,
			    base.desc,
			    base.difficulty,
			    base.status,
			    base.question_number,
			    base.profile,
			    base.updatetime,
			    base.qrcode,
			    bank.id bankid,
			    bank.name bankname,
			    course.id courseId,
			    course.name courseName,
			    bt.id btid,
			    bt.name btname,
			    year.id yearid,
			    year.year year,
			    qtype.id typeId,
			    qtype.name typeName,
			    lecture.id lectureId,
			    lecture.name lectureName,
			    lecture.level lectureLevel,
			    group_concat(distinct sk.name) keyword,
			    cast(group_concat(distinct sk.id) AS CHAR)  keywordId,
			    group_concat(distinct kp.name) knowledge,
			    cast(group_concat(distinct kp.id) AS CHAR)  knowledgeId,
			    case when group_concat(distinct vidoDetail.url) is null then '未上传'
				when group_concat(distinct vidoDetail.url) is not null THEN '已上传'
				end AS videoUrl
			    
			    
			FROM
				sh_course_grade_has_sh_video_base courseGrade left join
			    sh_video_base base on courseGrade.sh_video_base_id = base.id
			         INNER JOIN
			     sh_video_pastpaper past ON past.sh_video_base_id = base.id
			        LEFT JOIN
			    sh_questionbank bank ON bank.id = past.sh_questionbank_id
			        LEFT JOIN
			    sh_course course ON course.id = base.sh_course_id
			        LEFT JOIN
			    sh_questionbank_type bt ON bt.id = past.sh_questionbank_type_id
			        LEFT JOIN
			    sh_questionbank_year year ON year.id = past.sh_questionbank_year_id
			        LEFT JOIN
			    sh_question_type qtype ON qtype.id = past.sh_question_type_id
			        LEFT JOIN
			    sh_lecture lecture ON lecture.id = base.sh_lecture_id
			    left join sh_video_base_keyword kw on kw.sh_video_base_id = base.id
			    left join sh_keyword sk on sk.id = kw.sh_keyword_id
			    
			    left join sh_video_base_knowledge_point pt on pt.sh_video_base_id = base.id
			    left join sh_knowledge_point kp on kp.id = pt.sh_knowledge_point_id
			    left join sh_video_detail vidoDetail on vidoDetail.sh_video_base_id=base.id
			    
			WHERE 1=1  
				<if test="courseGradeId != null">
					and courseGrade.id = #{courseGradeId}
				</if>
			    group by id
			    having 1=1
			    <if test="hasVideo == 1">
					and videoUrl = '已上传'
				</if>
				<if test="hasVideo == 0">
					and videoUrl = '未上传'
				</if>  
			    
			    order by base.updatetime desc
		
		<!-- 加入查询条件 -->
	</select>
	
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from sh_course_grade
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="CourseGrade">
		insert into sh_course_grade
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="courseId != null">
				sh_course_id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="materialVersionId != null">
				sh_material_version_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="courseId != null">
				#{courseId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="materialVersionId != null">
				#{materialVersionId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="CourseGrade">
		update sh_course_grade
		<set>
			<if test="courseId != null">
				sh_course_id = #{courseId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="materialVersionId != null">
				sh_material_version_id = #{materialVersionId,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>