<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shinc.orm.mybatis.mappers.edu.CourseMapper" >
  <resultMap id="BaseResultMap" type="Course" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="short" property="shortName" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, name, short
  </sql>
  
  <select id="selectCourseById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    	<include refid="Base_Column_List" />
    from
    	sh_course
    where 
    	id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectCourse" resultMap="BaseResultMap" parameterType="Course" >
    select 
    	<include refid="Base_Column_List" />
    from
    	sh_course
    where 1 = 1
    	<if test="null != name">
    		and name = #{name}
    	</if>
    	<if test="null != shortName">
    		and short = #{shortName}
    	</if>
  </select>
  
  <delete id="deleteCourseById" parameterType="java.lang.Integer" >
    delete from sh_course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="addCourse" parameterType="Course" >
    insert into sh_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="shortName != null" >
        short,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        #{shortName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateCourse" parameterType="Course" >
    update sh_course
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        short = #{shortName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getCourseList" resultMap="BaseResultMap">
  	select distinct
  		name, short
  	from 
  		sh_course
  	where 1 = 1
  </select>
  
</mapper>