<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shinc.orm.mybatis.mappers.KeywordMapper" >
  <resultMap id="BaseResultMap" type="Keyword" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name
  </sql>
  
  <select id="selectAllKeyword" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sh_keyword
  </select>
  
  <select id="selectKeyword" resultMap="BaseResultMap" parameterType="Keyword" >
    select 
    <include refid="Base_Column_List" />
    from sh_keyword
    where name like '%${name}%'
  </select>
  
  <delete id="deleteKeywordById" parameterType="java.lang.Integer" >
    delete from sh_keyword
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  
  <insert id="insertKeyword" parameterType="Keyword" >
    insert into sh_keyword
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
<!-- 修改未用到 -->
  <update id="updateByPrimaryKeySelective" parameterType="Keyword" >
    update sh_keyword
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
<!-- 修改未用到 --> 
  <update id="updateByPrimaryKey" parameterType="Keyword" >
    update sh_keyword
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>