<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shinc.orm.mybatis.mappers.edu.LectureMapper" >
  <resultMap id="BaseResultMap" type="Lecture" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	<result column="modify_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <select id="selectAllLecture" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    id, name, create_time, modify_time, CASE level
	WHEN 1 THEN '特级'
	WHEN 2 THEN '高级'
	WHEN 3 THEN '中级'
	ELSE '其他' END level
    from sh_lecture
    where 1 = 1
    order by modify_time desc
  </select>
  
  <select id="selectLectureById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    id, name, level
    from sh_lecture
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteLectureById" parameterType="java.lang.Integer" >
    delete from sh_lecture
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertLecture" parameterType="Lecture" >
    insert into sh_lecture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="createTime != null">
		create_time,
	  </if>
	  <if test="updateTime != null">
		modify_time,
	  </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
		#{createTime,jdbcType=TIMESTAMP},
	  </if>
	  <if test="updateTime != null">
		#{updateTime,jdbcType=TIMESTAMP},
	  </if>
    </trim>
  </insert>
  
  <update id="updateLectureById" parameterType="Lecture" >
    update sh_lecture
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
		modify_time = #{updateTime,jdbcType=TIMESTAMP},
	  </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getVideoPastpaperNumByLecture" parameterType="Lecture" resultType="java.lang.Integer">
		select 
			count(a.id)
		from
			sh_video_pastpaper a
		inner join
			sh_video_base b
		on
			a.sh_video_base_id = b.id
		inner join
			sh_lecture c
		on
			b.sh_lecture_id = c.id
		where
			c.id = #{id}
	</select>
	
  	<select id="getVideoSelfNumByLecture" parameterType="Lecture" resultType="java.lang.Integer">
		select 
			count(a.id)
		from
			sh_video_self a
		inner join
			sh_video_base b
		on
			a.sh_video_base_id = b.id
		inner join
			sh_lecture c
		on
			b.sh_lecture_id = c.id
		where
			c.id = #{id}
	</select>
	
  	<select id="getVideoPointNumByLecture" parameterType="Lecture" resultType="java.lang.Integer">
		select 
			count(a.id)
		from
			sh_video_point a
		inner join
			sh_video_base b
		on
			a.sh_video_base_id = b.id
		inner join
			sh_lecture c
		on
			b.sh_lecture_id = c.id
		where
			c.id = #{id}
	</select>
	
	
</mapper>