<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shinc.orm.mybatis.mappers.edu.ParterMapper">
	<resultMap id="BaseResultMap" type="Parter">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="videoNum" property="videoNum" jdbcType="VARCHAR" />
		<result column="videoReservationNum" property="videoReservationNum" jdbcType="VARCHAR" />
		<result column="bookNum" property="bookNum" jdbcType="VARCHAR" />
	</resultMap>
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		id, name
		from sh_parter
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="findAll" parameterType="Parter" resultMap="BaseResultMap">
		
		SELECT 
		    t0.id,t0.name,
		    COUNT(t3.id) videoNum,
		    (SELECT 
		            SUM(t1.num_reservation)
		        FROM
		            sh_book t1
		        WHERE
		            t1.sh_parter_id = t0.id) videoReservationNum,
		            count(t1.id) bookNum
		FROM
		    sh_parter t0
		        LEFT JOIN
		    sh_book t1 ON t0.id = t1.sh_parter_id
		        LEFT JOIN
		    sh_problem t2 ON t1.id = t2.sh_book_id
		        LEFT JOIN
		    sh_problem_has_sh_video_base t3 ON t2.id = t3.sh_problem_id
		        AND t3.id IS NOT NULL
		WHERE 1 = 1
		<if test="name != null and name != '' ">
			AND name like '%${name}%'
		</if>
		GROUP BY t0.id
	</select>
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from sh_parter
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="Parter">
		insert into sh_parter
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="Parter">
		update sh_parter
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>