<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shinc.orm.mybatis.mappers.edu.ProblemHasVideoBaseMapper">
	<resultMap id="BaseResultMap" type="ProblemHasVideoBase">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="sh_problem_id" property="shProblemId" jdbcType="INTEGER" />
		<result column="sh_video_base_id" property="shVideoBaseId" jdbcType="INTEGER" />
		<result column="video_type" property="videoType" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, sh_problem_id, sh_video_base_id, video_type
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sh_problem_has_sh_video_base
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from sh_problem_has_sh_video_base
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="ProblemHasVideoBase">
		insert into sh_problem_has_sh_video_base (id, sh_problem_id, sh_video_base_id,
		video_type)
		values (#{id,jdbcType=INTEGER}, #{shProblemId,jdbcType=INTEGER}, #{shVideoBaseId,jdbcType=INTEGER},
		#{videoType,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="ProblemHasVideoBase">
		insert into sh_problem_has_sh_video_base
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="shProblemId != null">
				sh_problem_id,
			</if>
			<if test="shVideoBaseId != null">
				sh_video_base_id,
			</if>
			<if test="videoType != null">
				video_type,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="shProblemId != null">
				#{shProblemId,jdbcType=INTEGER},
			</if>
			<if test="shVideoBaseId != null">
				#{shVideoBaseId,jdbcType=INTEGER},
			</if>
			<if test="videoType != null">
				#{videoType,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="ProblemHasVideoBase">
		update sh_problem_has_sh_video_base
		<set>
			<if test="shProblemId != null">
				sh_problem_id = #{shProblemId,jdbcType=INTEGER},
			</if>
			<if test="shVideoBaseId != null">
				sh_video_base_id = #{shVideoBaseId,jdbcType=INTEGER},
			</if>
			<if test="videoType != null">
				video_type = #{videoType,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="ProblemHasVideoBase">
		update sh_problem_has_sh_video_base
		set sh_problem_id = #{shProblemId,jdbcType=INTEGER},
		sh_video_base_id = #{shVideoBaseId,jdbcType=INTEGER},
		video_type = #{videoType,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>