<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shinc.orm.mybatis.mappers.edu.QuestionBankQuestionTypeMapper">
	<resultMap id="BaseResultMap" type="QuestionBankQuestionTypeKey">
		<id column="sh_questionbank_id" property="questionBankId" jdbcType="INTEGER" />
		<id column="sh_question_type_id" property="questionTypeId" jdbcType="INTEGER" />
	</resultMap>
	<delete id="deleteByQuestionTypeId" parameterType="QuestionBankQuestionTypeKey">
		delete from sh_questionbank_question_type
		where sh_questionbank_id = #{questionBankId,jdbcType=INTEGER}
		and
		sh_question_type_id = #{questionTypeId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="QuestionBankQuestionTypeKey">
		insert into sh_questionbank_question_type (sh_questionbank_id, sh_question_type_id
		)
		values (#{questionBankId,jdbcType=INTEGER},
		#{questionTypeId,jdbcType=INTEGER}
		)
	</insert>

	<resultMap id="QuestionTypeMap" type="QuestionType">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getQuestionTypeByQuestionBank" parameterType="QuestionBank" resultMap="QuestionTypeMap">
		select
		a.id, a.name
		from
		sh_question_type a
		inner join
		sh_questionbank_question_type b
		on
		a.id = b.sh_question_type_id
		where
		b.sh_questionbank_id = #{id}
	</select>
</mapper>