<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shinc.orm.mybatis.mappers.edu.VideoSelfMapper">
	<resultMap id="BaseResultMap" type="VideoSelf">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="sh_video_base_id" property="videoBaseId" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="sh_question_type_id" property="questionTypeId" jdbcType="INTEGER" />
	</resultMap>

	<select id="getVideoSelfAndRelevantInfoList" resultType="java.util.HashMap" >

		SELECT
		videoSelfTab.id videoSelfId,
		videoSelfTab.resource,
		base.question_id,
		base.id,
		base.title,
		videoSelfTab.type,
		case when videoSelfTab.type = 0 then '改编'
		when videoSelfTab.type = 1 THEN '自编'
		end AS typeStr,
		base.desc,
		base.difficulty,
		base.status,
		base.question_number,
		base.profile,
		base.updatetime,
		course.id courseId,
		course.name courseName,
		qtype.id typeId,
		qtype.name typeName,
		lecture.id lectureId,
		lecture.name lectureName,
		lecture.level lectureLevel,
		group_concat(distinct sk.name) keyword,
	    cast(group_concat(distinct sk.id) AS CHAR)  keywordId,
	    group_concat(distinct kp.name) knowledge,
	    cast(group_concat(distinct kp.id) AS CHAR)  knowledgeId
		FROM
		sh_video_base base
		INNER JOIN
		sh_video_self videoSelfTab ON videoSelfTab.sh_video_base_id = base.id
		LEFT JOIN
		sh_course course ON course.id = base.sh_course_id
		LEFT JOIN
		sh_question_type qtype ON qtype.id = videoSelfTab.sh_question_type_id
		LEFT JOIN
		sh_lecture lecture ON lecture.id = base.sh_lecture_id
		left join sh_video_base_keyword kw on kw.sh_video_base_id = base.id
		left join sh_keyword sk on sk.id = kw.sh_keyword_id
		left join sh_video_base_knowledge_point pt on pt.sh_video_base_id = base.id
		left join sh_knowledge_point kp on kp.id = pt.sh_knowledge_point_id

		WHERE 1=1

		<if test="videoSelfType != null">
			and videoSelfTab.type = #{videoSelfType}
		</if>
		<if test="id != null">
			and base.id = #{id}
		</if>
	    <if test="courseId != null and courseId != ''">
			and base.sh_course_id = #{courseId}
		</if>
		<if test="questionTypeId != null and questionTypeId != ''">
			and videoSelfTab.sh_question_type_id = #{questionTypeId}
		</if>
		<if test="lectureId != null and lectureId != ''">
			and base.sh_lecture_id = #{lectureId}
		</if>
		<if test="questionDesc != null and questionDesc != ''">
			and base.title like '%${questionDesc}%'
		</if>
		<if test="difficulty != null and difficulty != ''">
			and base.difficulty = #{difficulty}
		</if>
		<if test="hasVideo == '1'">
			and exists (select 1 from sh_video_detail detail where detail.sh_video_base_id = base.id)
		</if>
		<if test="keywordList != null and keywordList.size() > 0">
			and kw.sh_keyword_id in 
			<foreach item="item" index="index" collection="keywordList"
		      open="(" separator="," close=")">
		        ${item}
		  	</foreach>
		</if>
		<if test="knowledgePointList != null and knowledgePointList.size() > 0">
			and pt.sh_knowledge_point_id  in 
			<foreach item="item" index="index" collection="knowledgePointList"
		      open="(" separator="," close=")">
		        ${item}
		  	</foreach>
		</if>
		group by id

	</select>
	<select id="getVideoSelfList" resultMap="BaseResultMap" parameterType="VideoSelf">
		select
		id, sh_video_base_id, type, sh_question_type_id
		from sh_video_self
		where 1 = 1
		<if test="id != null">
			AND id=#{id}
		</if>
	</select>
	<select id="getVideoSelfListCount" resultType="java.lang.Integer" parameterType="VideoSelf">
		select count(*)
		from sh_video_self
		where 1 = 1
		<if test="id != null">
			AND id=#{id}
		</if>
	</select>
	<select id="getByVideoSelfById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		id, sh_video_base_id, type, sh_question_type_id
		from sh_video_self
		where id =
		#{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteVideoSelfById" parameterType="java.lang.Integer">
		delete from sh_video_self
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertVideoSelf" useGeneratedKeys="true" keyProperty="id" parameterType="VideoSelf">
		insert into sh_video_self
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="videoBaseId != null">
				sh_video_base_id,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="questionTypeId != null">
				sh_question_type_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="videoBaseId != null">
				#{videoBaseId,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="questionTypeId != null">
				#{questionTypeId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateVideoSelf" parameterType="VideoSelf">
		update sh_video_self
		<set>
			<if test="videoBaseId != null">
				sh_video_base_id = #{videoBaseId,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="questionTypeId != null">
				sh_question_type_id = #{questionTypeId,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>

