<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shinc.orm.mybatis.mappers.edu.VideoBaseKeywordMapper" >
  <resultMap id="BaseResultMap" type="VideoBaseKeywordKey" >
    <id column="sh_video_base_id" property="videoBaseId" jdbcType="INTEGER" />
    <id column="sh_keyword_id" property="keywordId" jdbcType="INTEGER" />
  </resultMap>
  
  <delete id="deleteVideoKeywordById" parameterType="VideoBaseKeywordKey" >
    delete from sh_video_base_keyword
    where sh_video_base_id = #{videoBaseId,jdbcType=INTEGER}
      and sh_keyword_id = #{keywordId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertVideoKeyword" parameterType="VideoBaseKeywordKey" >
    insert into sh_video_base_keyword
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="videoBaseId != null" >
        sh_video_base_id,
      </if>
      <if test="keywordId != null" >
        sh_keyword_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="videoBaseId != null" >
        #{videoBaseId,jdbcType=INTEGER},
      </if>
      <if test="keywordId != null" >
        #{keywordId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <insert id="insertVideoKeywordBatch" parameterType="VideoBaseKeywordKey" >
    insert into sh_video_base_keyword(sh_video_base_id, sh_keyword_id)
    values 
   	<foreach collection="list" item="item" index="index" separator="," >
   		(#{item.videoBaseId,jdbcType=INTEGER}, #{item.keywordId,jdbcType=INTEGER})
	</foreach>
  </insert>
</mapper>