<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shinc.orm.mybatis.mappers.edu.VideoBaseKnowledgePointMapper" >
  <resultMap id="BaseResultMap" type="VideoBaseKnowledgePointKey" >
    <id column="sh_video_base_id" property="videoBaseId" jdbcType="INTEGER" />
    <id column="sh_knowledge_point_id" property="knowledgePointId" jdbcType="INTEGER" />
  </resultMap>
  
  <delete id="deleteVideoBaseKnowledgePoint" parameterType="VideoBaseKnowledgePointKey" >
    delete from 
    	sh_video_base_knowledge_point
    where 1 = 1
      and sh_video_base_id = #{videoBaseId,jdbcType=INTEGER}
<!--       and sh_knowledge_point_id = #{knowledgePointId,jdbcType=INTEGER} -->
  </delete>
  
  <insert id="insert" parameterType="VideoBaseKnowledgePointKey" >
    insert into sh_video_base_knowledge_point (sh_video_base_id, sh_knowledge_point_id
      )
    values (#{videoBaseId,jdbcType=INTEGER}, #{knowledgePointId,jdbcType=INTEGER}
      )
  </insert>
  
  <insert id="insertBatch" parameterType="VideoBaseKnowledgePointKey" >
    insert into 
    	sh_video_base_knowledge_point (sh_video_base_id, sh_knowledge_point_id)
    values 
   	<foreach collection="list" item="item" index="index" separator="," >
   		(#{item.videoBaseId,jdbcType=INTEGER}, #{item.knowledgePointId,jdbcType=INTEGER})
	</foreach>
  </insert>
  
  <insert id="insertSelective" parameterType="VideoBaseKnowledgePointKey" >
    insert into sh_video_base_knowledge_point
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="videoBaseId != null" >
        sh_video_base_id,
      </if>
      <if test="knowledgePointId != null" >
        sh_knowledge_point_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="videoBaseId != null" >
        #{videoBaseId,jdbcType=INTEGER},
      </if>
      <if test="knowledgePointId != null" >
        #{knowledgePointId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <select id="isUsedKnowledgePoint" parameterType="KnowledgePoint" resultType="java.lang.Integer">
  	select distinct
  		1
  	from
  		sh_video_base_knowledge_point
  	where
  		sh_knowledge_point_id = #{id}	
  </select>
  
  <resultMap id="KnowledgePointMap" type="KnowledgePoint" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sh_course_id" property="courseId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <association property="course" column="sh_course_id" javaType="Course" select="net.shinc.orm.mybatis.mappers.edu.CourseMapper.selectCourseById"></association>
  </resultMap>
  <select id="getKnowledgePointListByVideo" parameterType="VideoBase" resultMap="KnowledgePointMap">
  	select
  		a.id, a.sh_course_id, a.name
  	from
  		sh_knowledge_point a
  	inner join
  		sh_video_base_knowledge_point b
  	on
  		a.id = b.sh_knowledge_point_id
  	where
  		b.sh_video_base_id = #{id}
  </select>
  
</mapper>