<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shinc.orm.mybatis.mappers.edu.VideoPastpaperMapper">
	<resultMap id="BaseResultMap" type="VideoPastpaper">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="sh_video_base_id" property="videoBaseId" jdbcType="INTEGER" />
		<result column="sh_questionbank_id" property="questionbankId" jdbcType="INTEGER" />
		<result column="sh_questionbank_year_id" property="questionbankYearId" jdbcType="INTEGER" />
	</resultMap>
	
	<select id="getVideoPastpaperList" resultMap="BaseResultMap" parameterType="VideoPastpaper">
		select
		id, sh_video_base_id, sh_questionbank_id, sh_questionbank_year_id
		from sh_video_pastpaper
		where 1 = 1
		<if test="id != null">
			AND id=#{id}
		</if>
	</select>
	<select id="getVideoPastpaperListCount" resultType="java.lang.Integer" parameterType="VideoPastpaper">
		select count(*)
		from sh_video_pastpaper
		where 1 = 1
		<if test="id != null">
			AND id=#{id}
		</if>
	</select>
	
	<select id="getVideoPastpaperAndRelevantInfoList" resultType="java.util.HashMap" >

			
			SELECT 
				past.id videoPastpaperId,
				base.question_id,
				base.id,
			    base.title,
			    base.desc,
			    base.difficulty,
			    base.status,
			    base.question_number,
			    base.profile,
			    base.updatetime,
			    bank.id bankid,
			    bank.name bankname,
			    course.id courseId,
			    course.name courseName,
			    bt.id btid,
			    bt.name btname,
			    year.id yearid,
			    year.year year,
			    qtype.id typeId,
			    qtype.name typeName,
			    lecture.id lectureId,
			    lecture.name lectureName,
			    lecture.level lectureLevel,
			    group_concat(sk.name) keyword,
			    cast(group_concat(sk.id) AS CHAR)  keywordId,
			    group_concat(kp.name) knowledge,
			    cast(group_concat(kp.id) AS CHAR)  knowledgeId
			    
			   
			    
			FROM
			    sh_video_base base
			         INNER JOIN
			     sh_video_pastpaper past ON past.sh_video_base_id = base.id
			        LEFT JOIN
			    sh_questionbank bank ON bank.id = past.sh_questionbank_id
			        LEFT JOIN
			    sh_course course ON course.id = base.sh_course_id
			        LEFT JOIN
			    sh_questionbank_type bt ON bt.id = past.sh_questionbank_type_id
			        LEFT JOIN
			    sh_questionbank_year year ON year.id = past.sh_questionbank_year_id
			        LEFT JOIN
			    sh_question_type qtype ON qtype.id = past.sh_question_type_id
			        LEFT JOIN
			    sh_lecture lecture ON lecture.id = base.sh_lecture_id
			    left join sh_video_base_keyword kw on kw.sh_video_base_id = base.id
			    left join sh_keyword sk on sk.id = kw.sh_keyword_id
			    
			    left join sh_video_base_knowledge_point pt on pt.sh_video_base_id = base.id
			    left join sh_knowledge_point kp on kp.id = pt.sh_knowledge_point_id
			    
			    
			WHERE 1=1  
				<if test="id != null">
					and base.id = #{id}
				</if>
				<if test="questionBankId != null and questionBankId != ''">
					and past.sh_questionbank_id = #{questionBankId}
				</if>
			    <if test="courseId != null and courseId != ''">
					and base.sh_course_id = #{courseId}
				</if>
				<if test="questionBankTypeId != null and questionBankTypeId != ''">
				 	and past.sh_questionbank_type_id = #{questionBankTypeId}
				</if>
				<if test="questionBankYearId != null and questionBankYearId != ''">
					and past.sh_questionbank_year_id = #{questionBankYearId}
				</if>
				<if test="questionTypeId != null and questionTypeId != ''">
					and past.sh_question_type_id = #{questionTypeId}
				</if>
				<if test="lectureId != null and lectureId != ''">
					and base.sh_lecture_id = #{lectureId}
				</if>
				<if test="questionDesc != null and questionDesc != ''">
					and base.title like '%${questionDesc}%'
				</if>
				<if test="difficulty != null and difficulty != ''">
					and base.difficulty = #{difficulty}
				</if>
				<if test="hasVideo == '1'">
					and exists (select 1 from sh_video_detail detail where detail.sh_video_base_id = base.id)
				</if>
				<if test="keywordList != null and keywordList.size() > 0">
					and kw.sh_keyword_id in 
					<foreach item="item" index="index" collection="keywordList"
				      open="(" separator="," close=")">
				        ${item}
				  	</foreach>
				</if>
				<if test="knowledgePointList != null and knowledgePointList.size() > 0">
					and pt.sh_knowledge_point_id  in 
					<foreach item="item" index="index" collection="knowledgePointList"
				      open="(" separator="," close=")">
				        ${item}
				  	</foreach>
				</if>
			    group by id
	</select>
	
	
	<select id="getByVideoPastpaperById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		id, sh_video_base_id, sh_questionbank_id, sh_questionbank_year_id
		from sh_video_pastpaper
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteVideoPastpaperById" parameterType="java.lang.Integer">
		delete from sh_video_pastpaper
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertVideoPastpaper" useGeneratedKeys="true" keyProperty="id" parameterType="VideoPastpaper">
		insert into sh_video_pastpaper
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="videoBaseId != null">
				sh_video_base_id,
			</if>
			<if test="questionbankId != null">
				sh_questionbank_id,
			</if>
			<if test="questionbankYearId != null">
				sh_questionbank_year_id,
			</if>
			<if test="questionTypeId != null">
				sh_question_type_id,
			</if>
			<if test="questionbankTypeId != null">
				sh_questionbank_type_id,
			</if>
			
			
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="videoBaseId != null">
				#{videoBaseId,jdbcType=INTEGER},
			</if>
			<if test="questionbankId != null">
				#{questionbankId,jdbcType=INTEGER},
			</if>
			<if test="questionbankYearId != null">
				#{questionbankYearId,jdbcType=INTEGER},
			</if>
			<if test="questionTypeId != null">
				#{questionTypeId,jdbcType=INTEGER},
			</if>
			<if test="questionbankTypeId != null">
				#{questionbankTypeId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateVideoPastpaper" parameterType="VideoPastpaper">
		update sh_video_pastpaper
		<set>
			<if test="videoBaseId != null">
				sh_video_base_id = #{videoBaseId,jdbcType=INTEGER},
			</if>
			<if test="questionbankId != null">
				sh_questionbank_id = #{questionbankId,jdbcType=INTEGER},
			</if>
			<if test="questionbankYearId != null">
				sh_questionbank_year_id = #{questionbankYearId,jdbcType=INTEGER},
			</if>
			<if test="questionTypeId != null">
				sh_question_type_id = #{questionTypeId,jdbcType=INTEGER},
			</if>
			<if test="questionbankTypeId != null">
				sh_questionbank_type_id = #{questionbankTypeId,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>

<!-- SELECT 
			    past.videoPastpaperId,
			    base.question_id,
			    base.id,
			    base.title,
			    base.desc,
			    base.difficulty,
			    base.status,
			    base.question_number,
			    base.profile,
			    base.updatetime,
			    past.bankid,
			    past.bankname,
			    course.id courseId,
			    course.name courseName,
			    past.btid,
			    past.btname,
			    past.yearid,
			    past.year,
			    past.typeId,
			    past.typeName,
			    lecture.id lectureId,
			    lecture.name lectureName,
			    lecture.level lectureLevel,
			    GROUP_CONCAT(baseKw.keywordName) keyword,
			    GROUP_CONCAT(baseKp.knowledgePointName) knowledge
			FROM
			    sh_video_base base
			        LEFT JOIN
			    sh_course course ON course.id = base.sh_course_id
			        LEFT JOIN
			    sh_lecture lecture ON lecture.id = base.sh_lecture_id
			        INNER JOIN
			    (SELECT 
			        past.sh_video_base_id,
			            past.id videoPastpaperId,
			            bank.id bankid,
			            bank.name bankname,
			            bt.id btid,
			            bt.name btname,
			            year.id yearid,
			            year.year year,
			            qtype.id typeId,
			            qtype.name typeName
			    FROM
			        sh_video_pastpaper past
			    LEFT JOIN sh_questionbank bank ON bank.id = past.sh_questionbank_id
			    LEFT JOIN sh_questionbank_type bt ON bt.id = past.sh_questionbank_type_id
			    LEFT JOIN sh_questionbank_year year ON year.id = past.sh_questionbank_year_id
			    LEFT JOIN sh_question_type qtype ON qtype.id = past.sh_question_type_id) past ON past.sh_video_base_id = base.id
			        
			       
			        LEFT JOIN
			    (SELECT 
			        baseKp.sh_video_base_id,
			            kp.name knowledgePointName,
			            kp.id knowledgePointId
			    FROM
			        sh_video_base_knowledge_point baseKp
			    LEFT JOIN sh_knowledge_point kp ON baseKp.sh_knowledge_point_id = kp.id) baseKp ON baseKp.sh_video_base_id = base.id
			        
			        
			        LEFT JOIN
			    (SELECT 
			        baseKw.sh_video_base_id,
			            kw.name keywordName,
			            kw.id keywordId
			    FROM
			        sh_video_base_keyword baseKw
			    LEFT JOIN sh_keyword kw ON baseKw.sh_keyword_id = kw.id) baseKw ON baseKw.sh_video_base_id = base.id
			WHERE 1 = 1  -->

