<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shinc.orm.mybatis.mappers.edu.VideoDetailMapper">
	<resultMap id="BaseResultMap" type="VideoDetail">
		<id column="type" property="type" jdbcType="VARCHAR" />
		<id column="sh_video_base_id" property="videoBaseId" jdbcType="INTEGER" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
		<result column="store_info" property="storeInfo" jdbcType="VARCHAR" />
		<result column="store_type" property="storeType" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getVideoDetailList" resultMap="BaseResultMap" parameterType="VideoDetail">
		select
		type, sh_video_base_id, url, updatetime, store_info, store_type
		from sh_video_detail
		where 1 = 1
		<if test="type != null">
			AND type = #{type}
		</if>
	</select>
	<select id="getVideoDetailListCount" resultType="java.lang.Integer" parameterType="VideoDetail">
		select count(*)
		from sh_video_detail
		where 1 = 1
		<if test="type != null">
			AND type = #{type}
		</if>
	</select>
	<select id="getByVideoDetailById" resultMap="BaseResultMap" parameterType="VideoDetail">
		select
		type, sh_video_base_id, url, updatetime, store_info, store_type
		from sh_video_detail
		where type = #{type,jdbcType=VARCHAR}
		and sh_video_base_id = #{videoBaseId,jdbcType=INTEGER}
	</select>
	
	<select id="getVideoDetailListByVideoBaseId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			type, sh_video_base_id, url, updatetime, store_info, store_type
		from 
			sh_video_detail
		where 1 = 1
			and sh_video_base_id = #{videoBaseId,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteVideoDetailById" parameterType="VideoDetail">
		delete from sh_video_detail
		where type = #{type,jdbcType=VARCHAR}
		and sh_video_base_id =
		#{videoBaseId,jdbcType=INTEGER}
	</delete>
	<insert id="insertVideoDetail" parameterType="VideoDetail">
		insert into sh_video_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="type != null">
				type,
			</if>
			<if test="videoBaseId != null">
				sh_video_base_id,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="updatetime != null">
				updatetime,
			</if>
			<if test="storeInfo != null">
				store_info,
			</if>
			<if test="storeType != null">
				store_type,
			</if>
			<if test="videoDuration != null">
				video_duration,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="videoBaseId != null">
				#{videoBaseId,jdbcType=INTEGER},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="updatetime != null">
				#{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="storeInfo != null">
				#{storeInfo,jdbcType=VARCHAR},
			</if>
			<if test="storeType != null">
				#{storeType,jdbcType=VARCHAR},
			</if>
			<if test="videoDuration != null">
				#{videoDuration,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateVideoDetail" parameterType="VideoDetail">
		update sh_video_detail
		<set>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="updatetime != null">
				updatetime = #{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="storeInfo != null">
				store_info = #{storeInfo,jdbcType=VARCHAR},
			</if>
			<if test="storeType != null">
				store_type = #{storeType,jdbcType=VARCHAR},
			</if>
		</set>
		where type = #{type,jdbcType=VARCHAR}
		and sh_video_base_id = #{videoBaseId,jdbcType=INTEGER}
	</update>
</mapper>