<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.shinc.orm.mybatis.mappers.edu.VideoPicMapper" >
  <resultMap id="BaseResultMap" type="VideoPic" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sh_video_base_id" property="videoBaseId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="store_info" property="storeInfo" jdbcType="VARCHAR" />
    <result column="store_type" property="storeType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sh_video_base_id, title, description, store_info, store_type
  </sql>
  
  <select id="selectPicById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sh_video_pic
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectPicByVideoBaseId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sh_video_pic
    where sh_video_base_id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deletePicById" parameterType="java.lang.Integer" >
    delete from sh_video_pic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="deletePicBatch" parameterType="java.lang.Integer" >
    delete from sh_video_pic
    where id in
    	 <foreach collection="list" item="item" index="index"  open="(" separator="," close=")" >
   			#{item.id,jdbcType=INTEGER}
		</foreach>
  </delete>
  
  <insert id="insertPic" parameterType="VideoPic" >
    insert into sh_video_pic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="videoBaseId != null" >
        sh_video_base_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="storeInfo != null" >
        store_info,
      </if>
      <if test="storeType != null" >
        store_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="videoBaseId != null" >
        #{videoBaseId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="storeInfo != null" >
        #{storeInfo,jdbcType=VARCHAR},
      </if>
      <if test="storeType != null" >
        #{storeType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <insert id="insertPicBatch" parameterType="VideoPic" >
    insert into sh_video_pic(id, sh_video_base_id, title, description, store_info, store_type)
    values 
   	<foreach collection="list" item="item" index="index" separator="," >
   		(#{item.id,jdbcType=INTEGER}, #{item.videoBaseId,jdbcType=INTEGER},#{item.title,jdbcType=VARCHAR},
   		 #{item.description,jdbcType=VARCHAR},#{item.storeInfo,jdbcType=VARCHAR},#{item.storeType,jdbcType=VARCHAR})
	</foreach>
  </insert>
</mapper>