<?xml version="1.0" encoding="UTF-8" ?>
<contents>
	<menus>
		<!-- 题目视频管理 begin -->
		<menu>
			<level>1</level>
			<parent>videoManage</parent>
			<value>videoManage</value>                <!--    一级菜单  题目视频管理 -->
			<url>none</url>
		</menu>
		<menu>
			<level>2</level>
			<parent>videoManage</parent>
			<value>simulateIssuesManage</value>       <!--    二级菜单  真题/模拟题库管理 --> 
			<url>/pastpaper/pastpaperList</url>
		</menu>
		<menu>
			<level>2</level>
			<parent>videoManage</parent>
			<value>selfIssuesManage</value>           <!--    二级菜单  自编/改编题库管理 --> 
			<url>/selfVideo/selfVideoList</url>
		</menu>
		<menu>
			<level>2</level>
			<parent>videoManage</parent>
			<value>simulateStructureManage</value>    <!--    二级菜单  真题/模拟题库结构 --> 
			<url>/video/topicStructure</url>
		</menu>
		<!--  题目视频管理 end  -->
		
		
		<!--  知识点管理 begin  -->
		<menu>
			<level>1</level>
			<parent>knowledgeManage</parent>
			<value>knowledgeManage</value>          <!--   一级菜单  知识点管理 -->
			<url>none</url>
		</menu>
		<menu>
			<level>2</level>
			<parent>knowledgeManage</parent>
			<value>knowledgeVideoManage</value>     <!--    二级菜单  知识点视频管理 -->
			<url>/knowledgeVideo/knowledgeVideoList</url>
		</menu>
		<menu>
			<level>2</level>
			<parent>knowledgeManage</parent>
			<value>knowledgeStructureManage</value>  <!--   二级菜单  知识点结构管理 -->
			<url>/knowledge/knowledgeStructure</url>
		</menu>
		<!--  知识点管理 end  -->
		
		<!--  业务管理 begin  -->
		<menu>
			<level>1</level>
			<parent>businessManage</parent>
			<value>businessManage</value>          <!--   一级菜单  业务管理 -->
			<url>none</url>
		</menu>
		<menu>
			<level>2</level>
			<parent>businessManage</parent>
			<value>businessListManage</value>  <!--   二级菜单  合作商信息 -->
			<url>/business/businessList</url>
		</menu>
		
		<!--  业务管理 end  -->
		
		<!--  课程分类管理 begin  -->
		
		<menu>
			<level>1</level>
			<parent>courseManage</parent>
			<value>courseManage</value>          <!--   一级菜单  课程分类管理 -->
			<url>none</url>
		</menu>
		<menu>
			<level>2</level>
			<parent>courseManage</parent>
			<value>courseListManage</value>  <!--   二级菜单  课程分类信息 -->
			<url>/course/courseList</url>
		</menu>
		
		<!--  课程分类管理 end  -->
		
		<!--  推荐管理 begin  -->
		
		<menu>
			<level>1</level>
			<parent>recommendManage</parent>
			<value>recommendManage</value>          <!--   一级菜单  推荐管理 -->
			<url>none</url>
		</menu>
		<menu>
			<level>2</level>
			<parent>recommendManage</parent>
			<value>recommendListManage</value>  <!--   二级菜单  推荐信息 -->
			<url>/recommend/recommendList</url>
		</menu>
		
		<!--  推荐管理 end  -->
		
		
		<!--  信息管理 begin  -->
		<menu>
			<level>1</level>
			<parent>infoManage</parent>
			<value>infoManage</value>				<!--   一级菜单  信息管理 -->
			<url>none</url>
		</menu>
		<menu>
			<level>2</level>
			<parent>infoManage</parent>
			<value>keywordTagManage</value>		    <!--   二级菜单  关键字标签管理 -->
			<url>/keyword/keywordTag</url>
		</menu>
		<menu>
			<level>2</level>
			<parent>infoManage</parent>
			<value>knowledgeTagManage</value>		<!--   二级菜单  知识点管理 -->
			<url>/knowledge/knowledgeList</url>
		</menu>
		<menu>
			<level>2</level>
			<parent>infoManage</parent>
			<value>lectureManage</value>		    <!--   二级菜单  讲解人管理 -->
			<url>/lecture/lectureList</url>
		</menu>
		<menu>
			<level>2</level>
			<parent>infoManage</parent>
			<value>questionTypeManage</value>		    <!--   二级菜单  题型管理 -->
			<url>/questionType/questionTypeList</url>
		</menu>
		<!--  信息管理 end  -->
		
		
		<!--  教师管理 begin   -->
		<menu>
			<level>1</level>
			<parent>adminUserManage</parent>
			<value>adminUserManage</value>          <!--   一级菜单  教师管理 -->
			<url>none</url>
		</menu>
		<menu>
			<level>2</level>
			<parent>adminUserManage</parent>
			<value>adminUserList</value>            <!--   二级菜单  教师管理 -->
			<url>/user/userList</url>
		</menu>
		<!--  教师管理 end   -->
		
	</menus>
</contents>
